# Disney Dataset Creation (w/ BeautifulSoup)

### Link: https://www.youtube.com/watch?v=Ewgy-G9cmbg&list=PLGF0tR95DzSftyT1wDhnT94Ysi1_s1biV&index=30&t=8s
#### Scrape and clean a list of disney wikipedia pages to creat a dataset to further analyze

##### Task 1: Get Info Box (store in Python dictionary)

### Import Necessary Libraries

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import re

### Load the webpage

In [2]:
r = requests.get("https://en.wikipedia.org/wiki/Toy_Story_3")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out HTML
contents = soup.prettify()


for s in soup.select('sup'):
    s.extract()

In [3]:
info_box = soup.find("table", attrs={"class": "infobox vevent"})
info_rows = info_box.find_all("tr")

In [5]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    if row_data.find("sup"):
        for sup in row_Data.find("sup"):
            sup.decompose()
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")


movie_info = {}
for index, row in enumerate(info_rows):
    if index == 0:
        movie_info['title'] = row.find("th").get_text(" ", strip=True)
    
    elif index == 1:
        continue
    
    else:
        content_key = row.find("th").get_text(" ", strip=True)
        content_value = get_content_value(row.find("td"))
        movie_info[content_key] = content_value


for sup in info_box.find_all("sup"):
    sup.decompose()

##### Task 2: Get Info Box for all movies

In [6]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out HTML
contents = soup.prettify()

In [7]:
movies = soup.select(".wikitable.sortable i")
movies[0].a['href']

'/wiki/Academy_Award_Review_of_Walt_Disney_Cartoons'

In [8]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    elif row_data.find("br"):
        return[text for text in row_data.stripped_strings]
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")

def clean_tags(soup):
    for tag in soup.find_all(["sup", "span"]):
        tag.decompose()    
    
def get_info_box(url):
    
    r = requests.get(url)
    soup = bs(r.content)  
    info_box = soup.find("table", attrs={"class": "infobox vevent"})
    info_rows = info_box.find_all("tr")
    
    clean_tags(soup)
    
    movie_info = {}
    for index, row in enumerate(info_rows):
        if index == 0:
            movie_info['title'] = row.find("th").get_text(" ", strip=True)

        else:
            header = row.find("th")
            if header:
                content_key = row.find("th").get_text(" ", strip=True)
                content_value = get_content_value(row.find("td"))
                movie_info[content_key] = content_value
    
    return movie_info

In [11]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = bs(r.content)
movies = soup.select(".wikitable.sortable i a")

base_path = "https://en.wikipedia.org/"

movie_info_list = []
for index, movie in enumerate(movies):    
    try:
        relative_path = movie['href']
        title = movie['title']
        full_path = base_path + relative_path
        
        movie_info_list.append(get_info_box(full_path))
        
    except Exception as e:
        print(movie.get_text())
        print(e)

Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
True-Life Adventures
'NoneType' object has no attribute 'find_all'
Luca
'NoneType' object has no attribute 'find_all'

##### Save/Reload Movie Data

In [12]:
import json

In [13]:
# Saves the move_info_list dictionnary as a json file

def save_data(title, data):
    with open(title, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=2)

In [14]:
# Reload the movie data

def load_data(title):
    with open(title, encoding='utf-8') as f:
        return json.load(f)

In [15]:
save_data("disney_data.json", movie_info_list)

#### Task 3: Clean your data!

In [16]:
movie_info_list = load_data("disney_data.json")

#### Subtasks
- Clean up references: for example [1]
- Convert running time into an integer
- Convert dates into datetime object
- Split up the long strings
- Convert Budget & Box office numbers

In [17]:
## Clean up references: Done
# => Look at the def clean_tags() function

In [18]:
## Split up the long strings: Done

In [19]:
## Convert running time into an integer

def minutes_to_integer(running_time):
    if running_time == "N/A":
        return None
    
    if isinstance(running_time, list):
        return int(running_time[0].split(" ")[0])
    
    else:
        return int(running_time.split(" ")[0])


for movie in movie_info_list:
    movie["Running time (int)"] = minutes_to_integer(movie.get("Running time", "N/A"))

In [21]:
[movie.get('Budget', 'N/A') for movie in movie_info_list]

['N/A',
 '$1.49 million',
 '$2.6 million',
 '$2.28 million',
 '$600,000',
 '$950,000',
 '$858,000',
 'N/A',
 '$788,000',
 'N/A',
 '$1.35 million',
 '$2.125 million',
 'N/A',
 '$1.5 million',
 '$1.5 million',
 'N/A',
 '$2.9 million',
 '$1,800,000',
 '$3 million',
 'N/A',
 '$4 million',
 '$2 million',
 '$300,000',
 '$1.8 million',
 'N/A',
 '$5 million',
 'N/A',
 '$4 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$700,000',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$6 million',
 'under $1 million or $1,250,000',
 'N/A',
 '$2 million',
 'N/A',
 'N/A',
 '$2.5 million',
 'N/A',
 'N/A',
 '$4 million',
 '$3.6 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$3 million',
 'N/A',
 '$3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4.4–6 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4 million',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4 million',
 'N/A',
 'N/A',
 'N/A',
 '$6.3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$8 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'AU$1 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 '$7.5 million',
 'N/A',
 '$10 million',
 'N/A',
 'N/A',
 '$3.5 to 4 million',
 'N/A',
 'N/A',
 'N/A',
 '$5.25 million',
 '$20 million',
 'N/A',
 'N/A',
 '$9 million',
 'N/A',
 '$6-8 million',
 '$20 million',
 'N/A',
 'N/A',
 '$18 million',
 '$12 million',
 '$14 million',
 'N/A',
 '',
 '$5 million',
 'unknown',
 '$20 million',
 '$11 million',
 '$28 million',
 '$44 million',
 'N/A',
 'N/A',
 '$14 million',
 '$9 million',
 'N/A',
 'A$8.7 million',
 '$31 million',
 '$18 million',
 '$5 million',
 '$40 million',
 '$20 million',
 'N/A',
 '$14 million',
 '60 million Norwegian Kroner (around $8.7 million in 1989)',
 'N/A',
 '$35-40 million',
 '$25 million',
 '$15 million',
 '$40 million',
 '$14 million',
 '$28 million',
 '$12 million',
 'N/A',
 'N/A',
 '$6.5 million',
 '$28 million',
 '$17 million',
 '$30 million',
 'N/A',
 '$13 million',
 'N/A',
 'N/A',
 '$45 million',
 '$31 million',
 'N/A',
 '$22 million',
 '$30 million',
 'N/A',
 '$22 million',
 ['$32 million', '(estimated)'],
 'N/A',
 '$55 million',
 '$24 million',
 '$15 million',
 '$12 million',
 'N/A',
 '$30 million',
 'N/A',
 '$31 million',
 'N/A',
 '$38 million',
 '$100 million',
 '$15 million',
 'N/A',
 '$75 million',
 'N/A',
 '$32 million',
 '$85 million',
 '$55 million',
 '$3 million',
 '$16 million',
 '$80 million',
 '$30 million',
 '$24 million',
 '$90 million',
 '$15 million',
 '$30 million',
 '$120 million',
 '$90 million',
 '$65 million',
 '$5 million',
 'N/A',
 '$130 million',
 '$90 million',
 '$10 million',
 '$90 million',
 '$80–$85 million',
 '$15 million –$30 million',
 '$127.5 million',
 '$65 million',
 '$30 million',
 '$85 million',
 '$100 million',
 '$23 million',
 '$90–120 million',
 '$26 million',
 '$25 million',
 '$115 million',
 '$33 million',
 '$20 million',
 '$22 million',
 '$80 million',
 '$35 million',
 ['($15–19.2 million)'],
 '$15 million',
 '$65 million',
 '$140 million',
 '$20 million',
 '$46 million',
 '$13 million',
 '$20 million',
 '$17 million',
 '$94 million',
 '$140 million',
 '$26 million',
 '$46 million',
 '$90 million',
 'N/A',
 '$10 million',
 '$28 million',
 '$15 million',
 '$110 million',
 'N/A',
 '$110 million',
 'N/A',
 '$45 million',
 '$92 million',
 '$100 million',
 'N/A',
 '$20 million',
 '$56 million',
 '$25 million',
 '$50 million',
 ['¥', '2.4 billion', 'US$24 million'],
 '$35 million',
 '$35 million',
 '$25 million',
 '$150 million',
 '$180 million',
 '$30 million',
 '$1 million',
 '$40 million',
 '$50 million',
 '$80 million',
 '$120 million',
 '$225 million',
 '$30 million',
 '$26 million',
 '$12 million',
 '$20–25 million',
 '$150 million',
 '$300 million',
 '$150 million',
 '$25 million',
 'N/A',
 '$22 million',
 '$85 million',
 '$130 million',
 '$7 million',
 '$25 million',
 '$225 million',
 '$180 million',
 '$20 million',
 'N/A',
 '$11 million',
 '$150 million',
 '$80 million',
 'N/A',
 '$50 million',
 '$30 million',
 '$47 million',
 '$175 million',
 'N/A',
 '$150 million',
 ['¥', '3.4 billion', '(', 'US$', '34 million)'],
 'N/A',
 '$8 million ( ₽ 350 million)',
 '$175-200 million',
 '$35 million',
 '$105 million',
 '$150 –$200 million',
 '$80 million',
 '$200 million',
 '$200 million',
 '$150 million',
 '$22 million',
 'N/A',
 '$35 million',
 'N/A',
 '$260 million',
 'N/A',
 '$170 million',
 '(US$3.8 million)',
 'N/A',
 '$150 million',
 'N/A',
 '$5 million',
 '$8 million',
 ['$378 million'],
 '$200 million',
 '$30 million',
 '$45 million',
 '$23 million',
 ['$306.6 million (gross)', '$263.7 million (net)'],
 '$5 million',
 'N/A',
 '$185 million',
 '$25 million',
 '$39 million',
 '$165 million',
 '$200–215 million',
 'N/A',
 '$200 million',
 '$215–225 million',
 '$50 million',
 '$150 million',
 '$35 million',
 '$51 million',
 '$5 million',
 '$25 million',
 '$180–263 million',
 '$50 million',
 '(US$3.2 million)',
 '$28 million',
 '$165 million',
 '$50 million',
 '$25 million',
 '$95 million',
 '$5–10 million',
 '$180–190 million',
 '$175 million',
 '',
 '$175 million',
 '$70–80 million',
 '$150 million',
 '$175–177 million',
 'N/A',
 '$170 million',
 '$175–200 million',
 '$140 million',
 '$65 million',
 '$15 million',
 '$150–175 million',
 '70 crore',
 '$8 million',
 '$160–255 million',
 '$5–10 million',
 '$230–320 million',
 '$175 million',
 'N/A',
 ['1.31\xa0billion'],
 '$175 million',
 '$100–130 million',
 '$200 million',
 '$70-75 million',
 '$120–133 million',
 '$175 million',
 '$130 million',
 '$170 million',
 'N/A',
 '$183 million',
 '$200 million',
 '$250–260 million',
 '$185 million',
 '$60 million',
 'N/A',
 '$150 million',
 '$40 million',
 '$42 million',
 '$175–200 million',
 'N/A',
 'N/A',
 'N/A',
 '$125 million',
 '$12.5 million (stage production)',
 'N/A',
 '$24 million',
 'N/A',
 '$200 million',
 'N/A',
 'N/A',
 '$150 million+',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$387 million']